html,body, header, #intro{
	height: 100%;
}
#intro{
	background: url(photo.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	background-size: cover;
}
.top-nav-collapse{
	background: #24355C;
}
.line {
	width: 50%;
	border-left: 2px solid #ccc; /* Параметры линии */
	margin-left: 20px; /* Отступ слева */
	padding-left: 10px; /* Расстояние от линии до текста */
}
.img_anons{
	width:100%;
}


.our-team .team-image{
	position: relative;
	text-align: center;
}

.our-team img{
	width: 100%;
	height: auto;
}

.our-team .description{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 14px;
	color: #fff;
	line-height: 30px;
	padding: 40px 50px;
	opacity: 0;
	background-color: rgba(59, 51, 106, 0.6);
	transition: all 0.5s ease 0s;
}

.our-team:hover .description{
	opacity: 1;
}


.our-team .team-info{
	padding: 20px;
}

.our-team .title{
	font-size: 18px;
	color: #3b336a;
	letter-spacing: 4px;
	margin: 0 0 15px 0;
	transition: all 0.5s ease 0s;
}

.our-team .post{
	display: block;
	font-size: 14px;
	color: #3b336a;
	text-transform: capitalize;
}

.our-team .title:hover,
.our-team .post:hover{
	color: #bc3fbf;
}
.img-holder {
	position: relative; }
.img-holder img {
	width: 100%; }

@media only screen and (max-width: 990px){
	.our-team{ margin-bottom: 30px; }
}
.image{
    max-height: 50%;
    max-width: 50%;
}
.titile-block {
	text-align: center;
	margin: 0 0 40px; }
.titile-block p {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: #989898;
	margin: 0; }
.subpage-bg {
	background: #f9f9f9;
	background-size: cover; }
.main-block {
	padding: 100px 0; }
@media (max-width: 992px) {
	.main-block {
		padding: 44px 0; } }

footer.main-block {
	padding: 100px 0 60px; }
.title-block_subpage {
	margin: 0;
	padding: 90px 0; }
.title-block_subpage h2 {
	color: #4a4a4a; }
.title-block_subpage p {
	color: #9a9a9a;
	text-transform: uppercase;
	font-size: 16px; }
.title-block_subpage p a {
	color: #9a9a9a;
	text-transform: uppercase; }
.title-block_subpage p a:hover {
	opacity: 0.7;
	text-decoration: none; }
.blog-post-date {
	position: absolute;
	left: 20px;
	bottom: 16px;
	background: #ff6b6b;
	color: #fff;
	border-radius: 3px;
	padding: 8px 16px; }
.textNew
{
    margin-left: 25%;
    margin-right: 25%;
}
.blog-content {
	padding: 0 0; }
.blog-content p span {
	font-weight: 600; }
.blog-content p a {
	color: #ff6b6b; }
.blog-content p a:hover {
	text-decoration: none; }
.latest-blog {
	border-bottom: 1px solid #eee;
	padding: 18px 0; }
@media (max-width: 992px) {
	.latest-blog {
		width: 49%; } }
@media (max-width: 576px) {
	.latest-blog {
		width: 100%; } }
.latest-blog:last-child {
	border: none; }
.latest-blog img {
	float: left;
	width: 110px; }
@media (max-width: 576px) {
	.latest-blog img {
		float: none; } }
.latest-blog h4 {
	margin: 0 0 30px; }
.latest-blog p {
	vertical-align: top;
	margin: 0 0 0 12px;
	color: #adadad; }
@media (max-width: 768px) {
	.latest-blog p {
		font-size: 14px; } }
@media (max-width: 576px) {
	.latest-blog p {
		margin: 8px 0 0;
		display: block; } }
.latest-blog strong {
	color: #565656; }
.latest-blog span {
	display: inline-block; }
.latest-blog a {
	text-decoration: none; }
.blog-thumb-content {
	margin-left: 120px; }
.widget-box {
	-webkit-box-shadow: 0px 2px 2px 0px rgba(222, 222, 222, 0.6);
	box-shadow: 0px 2px 2px 0px rgba(222, 222, 222, 0.6);
	border: 1px solid #f7f7f7;
	padding: 20px;
	margin: 0 0 30px; }